# EjercicioDesing

# images
Ejercicios/EjercicioDesing/images
Ejercicios/EjercicioPaint/imagesPaint

# sass

Ejercicios/EjercicioDesing/scss

# prepros config



Ejercicios/EjercicioDesing/prepros.config
