// variables
@import "./variables";
// mixins
@import "./mixins";

.pTopButton {
  padding: 40px 0;
}


ul li {
  list-style: none;
}

nav {
  background-color: $color01;
  .linksNav {
    @include flexCenter;
    list-style: none;
    padding: 15px 0;
    li {
      padding: 0 35px;
      a {
        color: white;
      }
    }
  }
}
.bg-banner {
  height: 100vh;
  background-image: url("../images/banner_bg.png");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .textBanner {
    @include flexCenter;
    flex-direction: column;
    align-items: unset;
    padding-left: 10%;
    p {
      color: $color02;
    }
    h1 {
      color: $color01;
      font-weight: 300;
      font-size: 60px;
      word-spacing: 40px;
    }
  }
}
.imageDog {
  @include flexCenter;
  height: 80vh;
  img {
    width: 50%;
  }
}

.fCenter {
  @include flexCenter;
  .textCare {
    width: 50%;
  }
}

.bgServices {
  background-image: url("../images/services_bg.png");
  .col-12 {
    text-align: center;
    padding: 110px 0;
  }
  .card {
    background-color: transparent;
    border: 0;
    align-items: center;
    img {
      width: 50%;
    }
    h5 {
      text-align: center;
    }
    p {
      font-size: 0.8rem;
      color: #000000ad;
    }
  }
}

.colLeftAdopt {
  padding-left: 25%;
  @include flexCenter;
  flex-direction: column;
  h2 {
    font-weight: 400;
    word-spacing: 15px;
    margin-bottom: 4rem;
  }
  p {
    font-size: 18px;
  }
  .containerAdopt {
    @include flexCenter;
  }
  button {
    border-radius: 20px;
    background-color: #53c9bb;
    border-color: #53c9bb;
  }
}

// SECTION MID BANNER
.bgMidBanner {
  margin: 2rem 0;
  height: 40vh;
  background-image: url("../images/review_bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


// SECTION HELP
.help {
  margin: 10rem 0 3rem;

  .imageHelp {
    @include flexCenter;
  }

  .textHelp {
    padding: 6rem 13% 0 0;

    h2 {
      font-weight: 400;
    }

    p {
      @include parrafStyle;
    }

    button {
      @include buttonTurquoise;
    }
  }
}


// SECTION FOOTER

.bgFooter {
  height: 75vh;
  margin-top: 8rem;
  background-image: url('../images/footer_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;

  .formFooter {
    @include flexCenter;
    flex-direction: column;
    text-align: center;
    padding: 4rem 0 9rem;

    .containerFormGeneral {
      h2 {
        font-weight: 400;
      }
  
      p {
        font-weight: 400;
      }
  
      .containerForm {
        @include flexCenter;
        flex-direction: row;
        
          input[type="text"]{
            width: 85%;
            padding: 0.4rem 0.4rem 0.4rem 0.6rem;
            border-radius: 4px 0 0 4px;
            border: none;
            outline: none;
          }

          button {
            padding: 0.4rem 0.55rem;
            border-radius: 0 4px 4px 0;
            border: 0;
            outline: none;
          }
        }
  
        
      }
    }
    
    .col-4 {
      //alineado
      max-width: 24%;
      display: flex;
      flex-direction: column;
      padding-left: 8%;

      h3 {
        font-weight: 400;
      }

      a {
        color: $white;
        margin: 0.5rem 0;
      }

      a:hover {
        text-decoration: none;
        filter: brightness(0.8);
      }
    }
   
  }

